.detail h6{
 font-size: 1.2rem;
 font-weight: 500;
 font-family: cursive;
}
.box{
 position: relative;
 margin-top: 70px;
}
.delete{
  position: absolute;
  left: 100px;
  bottom: 0px;
  font-size: 1.6rem;
  color: red;
  cursor: pointer;
}