.bg{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.bg img{
  height: 400px;
  padding-bottom: 30px;
  margin-right: 100px;
}
.png_container {
  position: relative;
}
.image {
  position: relative;
  z-index: 1;
}
.image_shadow {
  position: absolute;
  top: 40px;
  right: -5px;
  filter: blur(10px) contrast(100%) brightness(20%);
}
