form input{
  margin: 20px 0px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  padding-right: 80px;
  padding-left: 20px;
  text-align: left;
}
form{
  margin-left: 100px;
}
.signbtn{
  margin-top: 10px;
}
.signbtn button{
  margin-bottom: 10px;
}
form button{
  background-color: rgb(62, 92, 175);
  border: none;
  outline: none;
  border-radius: 20px;
  width: 80%;
}
form button a{
  text-decoration: none;
  font-weight: 600;
  color: white;
}
.right2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon{
  font-size: 1.4rem;
}
.login {
 margin-left: 20px;
}