.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 0px 20px;
}
.navbar li{
  list-style: none;
  padding: 0px 20px;
}
.navbar li a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
}
.logo img{
  height: 80px;
  width: 100px;
}
.logout{
   color: white;
   font-size: 500;
   background-color: red;
   outline: none;
   border: none;
   border-radius: 10px;
}
.userdetail{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.userdetail h4{
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-right: 20px;
}
.user{

}